*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

:root {
    --background: #FFFAF6;
    --primary: #F97561;
    --yellow: #FFCA0F;
    --green: #41766C;
    --subtxt: #817d7d;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: poppins;
}



::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background:var(--green);
    /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover{
    background:grey;
}

::-webkit-scrollbar-track{
    background-color: #f2f2f2;
}


/* 
    ------------------------------
    ----- NAVIGATION BAR STYLING ----
    ------------------------------
*/
header {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.logo, .nav-list, .cta-list {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 45px;
}

.logo {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.nav-list {
    gap: 0 55px;
}

.nav-link {
    color: #000;
}

.cta-list {
    gap: 0 40px;
}

.secondary {
    color: #000;
}

.primary {
    padding: 17px 25px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.line {
    width: 35px;
    height: 3px;
    background-color: #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 5px;
}


/* 
    ------------------------------
    ----- MAIN SECTION STYLING ----
    ------------------------------
*/
main section {
    min-height: 100vh;
    background-color: #FBFBFB;
}