@media screen and (max-width: 768px) {
    .story-desc-container, .story-img-container {
        width: 100%;
    }

    .story-item {
        flex-direction: column;
        margin-bottom: 70px;
    }

    .value-list {
        display: block;
    }

    .value-item {
        flex-direction: column;
        text-align: center;
        margin-bottom: 55px;
    }

    .follow-list-img {
        flex-direction: column;
    }
}


@media screen and (min-width: 769px) {
    .close-nav, .hamburger {
        display: none;
    }
}